EMAIL_FROM=info@aarmoonsplit.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=info@aarmoonsplit.com
SMTP_PASS=YOUR_APP_PASSWORD_HERE
ALLOWED_ORIGIN=https://aarmoonspirit.com,https://aar-moon-split-tradres.vercel.app
GOOGLE_SHEET_WEB_APP_URL=https://script.google.com/macros/s/AKfycbxTOM5uefDkMWXoFsJXrzHoMeBdPHuI4_Q-kUYnqSQ8CRliPQq_O1oHHicxIXZiCAqaaQ/exec
